/* Add Font Family */
body {
	font-family: 'League Spartan', sans-serif;
}

/* Change behavior of scroll */
html {
	scroll-behavior: smooth;
}

/* Setting background color for landing, navbar, card, tools, footer and form */
#landing, .navbar, .card, #tools, #footer, form {
	background-color: #0A192F;
}

/* Adding background color to projects page, contact page */
#projects, #contact {
	background-color: #222f43;
}

/* Resize Profile image */
#profile-img {
	width: 18rem;
	height: 18rem;
}

/* Setting texts into custom color */
a.nav-link {
	color: white !important;
}

a.nav-link:hover,
.nav-link.active {
	color: #25dbcf !important;
}

#checkout:hover, #send-email-btn:hover {
	box-shadow: inset 0 0 10px rgba(37, 219, 207, 0.6), 0 0 9px 3px rgba(37, 219, 207, 0.2);
}

a.navbar-brand, #intro-text, #checkout, #send-email-btn, #footer-text, .card-title {
	color: #25dbcf !important;
}

#intro-name, #projects-title, #contact-title, #core-tools-title, #other-tools-title{
	color: #ccd6f6;
	font-size: 4rem;
}

#intro-subname {
	color: #8892B0;
	font-size: 3rem;
}

#intro-description {
	color: #8892B0;
	font-size: 1rem;
}

.card-text, form>div>label {
	color: #ccd6f6;
}

/* Border for PJ and checkout my projects, send email btn and navbar toggler */
.custom-border, #checkout, #send-email-btn, .navbar-toggler {
	border: 2px solid #25dbcf !important;
}

/* Putting border bottom starting md size */
@media (min-width: 768px) {
  .border-bottom-md {
    border-bottom: 1px solid #25dbcf;
  }
}

/* Changing height of images */
.card-img-top {
	height: 200px;
}

/* Change size of logo */
.img-footer {
	width: 3rem;
	height: 3rem;
}

div.img-tools>div>img {
	width: 150px;
}

/* Animation Typewriter effect for lg scren */

@media (min-width: 992px) {
  #intro-name {
  	display: inline-flex;
  	word-break: break-all;
  	height: 1.2em;
  	width:0%;
  	overflow: hidden;
  	animation:typing 5s linear infinite alternate;
  }

  #intro-name:before {
  	content:" ";
  	display:inline-block;
  }

  @keyframes typing{
  	90%,100% {
  		width:100%
  	}
  }
}