/* Add Font Family */
body {
	font-family: 'League Spartan', sans-serif;
}

/* Change behavior of scroll */
html {
	scroll-behavior: smooth;
}

/* Setting background color for landing, navbar, card, tools, footer and form */
#landing, .navbar, .card, #tools, #footer, form {
	background-color: #0A192F;
}

/* Adding background color to projects page, contact page */
#projects, #contact {
	background-color: #222f43;
}

/* Resize Profile image */
#profile-img {
	width: 15rem;
	height: 15rem;
	filter: drop-shadow(10px 10px 20px black);
}

/* Setting texts into custom color */
a.nav-link {
	color: white !important;
}

a.nav-link:hover,
.nav-link.active {
	color: #25dbcf !important;
}

#checkout:hover, #send-email-btn:hover, .card:hover, a.navbar-brand:hover, form:hover{
	box-shadow: inset 0 0 10px rgba(37, 219, 207, 0.6), 0 0 9px 3px rgba(37, 219, 207, 0.2) !important;
}

a.navbar-brand, #intro-text, #checkout, #send-email-btn, .card-title, #social-media-text {
	color: #25dbcf !important;
}

#intro-name, #projects-title, #contact-title, #core-tools-title, #other-tools-title{
	color: #ccd6f6;
	font-size: 4rem;
}

#projects-title, #core-tools-title, form, #social-media-text, #contact-title {
	filter: drop-shadow(5px 5px 10px black);
}

#intro-subname {
	color: #8892B0;
	font-size: 3rem;
}

#intro-description {
	color: #8892B0;
	font-size: 1rem;
}

.card-text, form>div>label, #footer-text {
	color: #ccd6f6;
}

/* Card Hover Effect */
.card {
	filter: drop-shadow(10px 10px 20px black);
	transition: 0.3s;
}

.card:hover {
	transform: translate(0, -10px) !important;
}

/* Border for PJ and checkout my projects, send email btn and navbar toggler */
.custom-border, #checkout, #send-email-btn, .navbar-toggler {
	border: 2px solid #25dbcf !important;
}

/* Putting border bottom starting md size */
@media (min-width: 769px) {
  .border-bottom-md {
    border-bottom: 1px solid #25dbcf;
  }
  #profile-img {
		width: 18rem;
		height: 18rem;
		filter: drop-shadow(10px 10px 20px black);
	}
}

/* Changing height of images */
.card-img-top {
	height: 200px;
	border-bottom: 2px solid #25dbcf;
}

/* Tools images effects */

div.img-tools>div>img {
	width: 150px;
	filter: drop-shadow(10px 10px 20px black);
	transition: transform 0.3s ease-out;
}

div.img-tools>div>img:hover {
	transform: translateY(-20px) !important;
}

/* Animation Typewriter effect for lg screen */

@media (min-width: 992px) {
  #intro-name {
  	display: inline-flex;
  	word-break: break-all;
  	height: 1.2em;
  	width:0%;
  	overflow: hidden;
  	animation:typing 5s linear infinite alternate;
  }

  #intro-name:before {
  	content:" ";
  	display:inline-block;
  }

  @keyframes typing{
  	90%,100% {
  		width:100%
  	}
  }
}

/* Customize particle.js */
#particles-js {
	background-color: #0A192F;
	position: absolute;
	width: 100%;
	height: 100%;
}

/* LOADER */

.preload {
	overflow: hidden;
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #222f43;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.loader-wrapper.fade-out {
	/* Define fade-out animation */
	opacity: 0;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #25dbcf;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #25dbcf;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

/* Contact Details Icon */
.contact-details {
	font-size: 1.4rem;
	text-shadow: 2px 2px 1px #1f1f1f;
	filter: drop-shadow(5px 5px 5px black);
	transition: transform 0.3s ease-out;
	color: #ccd6f6;
  }
  
.contact-details:hover {
	transform: translateY(8px);
	color: #25dbcf;
}

#social-media-text {
	font-size: 2rem;
}

/* Changing tools images when in xs size */

@media (max-width: 430px) {
	div.img-tools>div>img {
		width: 100px;
		filter: drop-shadow(10px 10px 20px black);
		transition: transform 0.3s ease-out;
	}
}

/* Change sizes in xxl screens */

@media (min-width: 1920px) {

	/* Loader */
	.loader {
		width: 50px;
  	height: 50px;
	}

	/* Navbar */
	.navbar {
		font-size: 1.3rem;
	}

	/* Landing Page	*/
  #profile-img {
		width: 25rem;
		height: 25rem;
		filter: drop-shadow(10px 10px 20px black);
	}

	#intro-name {
			font-size: 4.5rem;
	}

	#core-tools-title, #projects-title, #contact-title {
		font-size: 5.5rem;
		margin-top: 3vh !important;
	}

	#intro-subname {
			font-size: 3.5rem;
	}

	#intro-description, #checkout, #intro-text, .card-text {
			font-size: 1.5rem;
	}

	#name-info {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	/* Projects Page */
	.card {
		margin-bottom: 5vh !important;
		margin-left: 3vw !important;
		margin-right: 3vw !important;
	}

	.card-title {
		font-size: 2rem;
	}

	.card-img-top {
		height: 250px;
	}

	.card-footer-text {
		font-size: 1rem;
	}

	/* Tools Page	*/
	div.img-tools>div>img {
		width: 200px;
		filter: drop-shadow(10px 10px 20px black);
		transition: transform 0.3s ease-out;
	}
}